/* Global Variables */
:root {
    --font-family: 'Ubuntu', sans-serif;
    --primary-color-text: #000000;
    --secondary-color-text: #D84949;
    --thirdy-color-text: #FFFFFF;
    --input-box-color: rgba(216, 73, 73, 0.58);
    --primary-font-size: 32px;
}

html {
    font-family: var(--font-family);
    font-size: var(--primary-font-size);
    scroll-behavior: smooth;
}

/* Navigation Bar Style */

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px ;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

#portfolio-name {
    color: var(--secondary-color-text);
}

.nav-item {
    color: var(--primary-color-text);
    text-decoration: none;
    padding: 20px;
}

.nav-item:hover {
    color: var(--secondary-color-text);
    font-weight: bold;
}

.contact-icon {
    padding: 10px;
}

.contact-icon:hover {
    opacity: 0.5;
}

/*  About Me Section Style */

#about-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

#about-me-section h1 {
    font-weight: normal;
    padding: 50px;
}

#my-photo {
    object-fit: cover;
    border-radius: 50%;
    height: 270px;
    width: 270px;
}

.introduction-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 700px;
    height: 300px;
}

.skills-item  {
    font-size: 24px;
}

.bold-word {
    color: var(--secondary-color-text);
}

.tool-icon {
    width: 40px;
    height: 40px;
    padding: 5px;
}