/* Global Variables */

:root {
    --font-family: 'Ubuntu', sans-serif;
    --secondary-color-text: #D84949;
    --primary-font-size: 24px;
    --secondary-font-size: 20px;
}

html {
    font-family: var(--font-family);
    font-size: var(--primary-font-size);
    scroll-behavior: smooth;
}

li {
    list-style: none;
}


/* Navigation Bar Style */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 1.25rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.nav-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    color: var(--secondary-color-text);
    text-decoration: none;
    padding: 1.25rem;
}

.nav-item:hover {
    opacity: 0.6;
}

.contacts-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-icon {
    padding: 0.5rem;
}

.contact-icon:hover {
    opacity: 0.5;
}

.burger-menu {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: #101010;
}


/*  About Me Section Style */

#about-me-section {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6.25rem 6.5rem;
}

#about-me-section h1 {
    font-weight: normal;
    padding: 3.125rem;
}

#my-photo {
    object-fit: cover;
    border-radius: 50%;
    height: 270px;
    width: 270px;
}

.introduction-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 6.25rem;
}

.skills-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills-item {
    font-size: var(--secondary-font-size);
}

.bold-word {
    color: var(--secondary-color-text);
}

.tool-icon {
    width: 40px;
    height: 40px;
    padding: 0.313rem;
}


/* Projects Section Style */

#projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-weight: normal;
}

.project-icon {
    width: 90%;
    height: 90%;
    opacity: 0.7;
}

.projects-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.project-item {
    width: 30%;
    box-shadow: 0 3px 10px rgba(139, 142, 175, 0.33);
    border-radius: 10px;
    padding: 1.2rem;
}

.project-item:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.project-item,
h3 {
    font-weight: normal;
    font-size: var(--secondary-font-size);
    text-align: center;
}

.project-link {
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary-color-text);
}

.project-link:hover {
    opacity: 0.6;
    text-decoration-line: underline;
}


/* Contact Section Style */

#contact-section {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.125rem;
}

.contact-form-container {
    max-width: 20.75rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1.563rem;
}

.contact-form-container label {
    line-height: 2.7em;
    font-size: var(--secondary-font-size);
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: var(--secondary-font-size);
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border-radius: 5px;
    border: 2px solid rgba(101, 103, 115, 0.33);
    font-size: var(--secondary-font-size);
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
}

.submit-btn {
    width: 100%;
    padding: 0.625rem;
    margin: 10px 0;
    background-color: var(--secondary-color-text);
    border: 2px solid var(--secondary-color-text);
    color: white;
    border-radius: 10px;
    font-size: var(--secondary-font-size);
    font-weight: bold;
    transition: 0.5s;
}

.submit-btn:hover {
    cursor: pointer;
    opacity: 0.5;
}


/* Scroll to Top Button Style */

.scroll-up-button {
    position: fixed;
    right: 2%;
    bottom: 8%;
    cursor: pointer;
}

.up-arrow {
    width: 2rem;
    height: 2rem;
}


/* Footer Section Style */

footer {
    font-size: 18px;
    text-align: center;
}


/* Media Queries for Tablets and Mobile Phones (max-width 720px) */

@media screen and (max-width: 650px) {
    nav {
        justify-content: space-evenly;
    }
    .contacts-icons-container {
        flex-direction: column;
    }
    #my-name {
        flex-direction: column;
    }
}

@media screen and (max-width: 930px) {
    .nav-menu {
        width: 30%;
        flex-direction: column;
    }
    #my-photo {
        height: 150px;
        width: 150px;
    }
    .tool-icon {
        width: 25px;
        height: 25px;
    }
    .scroll-up-button {
        display: none;
    }
    .projects-container {
        flex-direction: column;
    }
    .contact-form-container {
        max-width: 15rem;
    }
}