/* Global Variables */
:root {
    --font-family: 'Ubuntu', sans-serif;
    --secondary-color-text: #D84949;
    --primary-font-size: 24px;
    --secondary-font-size: 20px;
}

html {
    font-family: var(--font-family);
    font-size: var(--primary-font-size);
    scroll-behavior: smooth;
}

/* Navigation Bar Style */

header {
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 20px ;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.nav-item {
    color: var(--secondary-color-text);
    text-decoration: none;
    padding: 20px;
}

.nav-item:hover {
    opacity: 0.6;

}

.contact-icon {
    padding: 10px;
}

.contact-icon:hover {
    opacity: 0.5;
}

.burger-menu {
    display: none;
    font-size: var(--primary-font-size);
    color: var(--secondary-color-text);
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

/*  About Me Section Style */

#about-me-section {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 100px;
}

#about-me-section h1 {
    font-weight: normal;
    padding: 50px;
}

#my-photo {
    object-fit: cover;
    border-radius: 50%;
    height: 270px;
    width: 270px;
}

.introduction-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.skills-container {
    width: 700px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.skills-item  {
    font-size: var(--secondary-font-size);
}

.bold-word {
    color: var(--secondary-color-text);
}

.tool-icon {
    width: 40px;
    height: 40px;
    padding: 5px;
}

/* Projects Section Style */

#projects-section {
    width: 70%;
    height: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#projects-section h2 {
    font-weight: normal;
}

.projects-container {
    width: 1000px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px;
}

.project-item, h3 {
    font-weight: normal;
    font-size: var(--secondary-font-size);
    text-align: center;
}

.project-item {
    width: 35%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 3px 10px rgba(139, 142, 175, 0.33);
    border-radius: 10px;
}

.project-link {
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary-color-text);
    padding: 15px;
}

.project-link:hover {
    opacity: 0.6;
    text-decoration-line: underline;
}

.project-icon {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    padding: 15px;
}
